
===== PAGE 1 =====
The MSG Foundation Case Study  
Martha Stockton Greengage가 87세의 나이로 세상을 떠났을 때 그녀는 23억 달러($2.3 billion)의 
전 재산을 자선 단체에 기부했습니다. 구체적으로, 그녀의 유언에 따라 저비용 대출을 제공함으로써 
젊은 부부들이 주택을 구입하도록 돕기 위해 MSG(Martha Stockton Greengage) 재단을 설립할 
것입니다. 
운영 비용을 줄이기 위해 MSG 재단의 이사들은 컴퓨터 시스템 도입을 검도하고 있습니다. 
수탁자(trustees) 중 누구도 컴퓨터에 대한 경험이 없기 때문에 소규모 소프트웨어 개발 조직(수강생 
여러분)에 파일럿 프로젝트, 즉 매주 주택 구입에 사용할 수 있는 금액을 결정하는 데 필요한 계산을 
수행할 소프트웨어 제품을 구현하도록 위임하기로 결정했습니다. 
집을 사기 위해 현금을 지불할 여유가 있는 사람은 많지 않습니다. 대신, 그들은 자신의 저축에서 
구매 가격의 작은 비율을 지불하고 나머지 돈을 빌립니다. 부동산을 담보로 대출을 담보로 하는 
이러한 유형의 대출을 모기지(mortgage)라 합니다. 
예를 들어 어떤 사람이 $100,000에 집을 사고 싶어 한다고 가정해 봅시다. 집을 사는 사람은 (예를 
들어) 10% 또는 $10,000의 보증금을 지불하고 나머지 $90,000는 은행과 같은 금융 기관이나 저축 
및 대출 회사에서 해당 금액($90,000)에 대한 모기지를 얻습니다. 따라서 빌린 원금(또는 자본)은 
$90,000입니다. 
모기지 조건이 연 7.5%(또는 월 0.625%)의 이자율로 30년 동안 매월 분할 상환한다고 가정합시다. 
매달 차용인은 금융 회사에 $629.30를 지불한다고 합니다. 이 금액의 일부는 미결제 잔액에 대한 
이자입니다. 나머지는 원금을 줄이는데 사용됩니다. 그래서 이 월별 지불액을 종종 P&I(원금 및 
이자)라고 합니다. 예를 들어, 첫 달의 미결제 잔액은 $90,000입니다. $90,000에 대한 월이자는 
$562.50입니다. $629.30 P&I 지급액 중 월이자는 $562.50를 제외한 나머지 $66.80은 원금을 
줄이는 데 사용됩니다. 따라서 첫 번째 달 말에 첫 번째 지불이 이루어진 후에는 잔금 
$89,933.20만 금융 회사에 지불하면 됩니다. 
두 번째 달의 이자는 $89,933.20의 0.625% 즉 $562.08입니다. P&I 지급액은 이전과 같이 
$629.30이고 이자를 제외한 P&I 지급액의 잔액(현재 $67.22)은 다시 원금을 줄이는 데 사용되며 
이번에는 원금이 $89,865.98로 줄어들게 됩니다. 
15년(180개월) 후 월 P&I 지불액은 여전히 $629.30이지만 이제 원금은 $67,881.61로 줄었습니다. 
$67,881.61에 대한 월 이자는 $424.26이므로 P&I 지불금의 나머지 $205.04는 원금을 줄이는 데 
사용됩니다. 30년(360개월) 후에는 대출금 전액을 상환하게 됩니다. 


===== PAGE 2 =====
금융 회사는 빚진 $90,000에 이자를 더한 금액 상환을 보장 받기를 원합니다. 아래와 같이 다양한 
방법으로 이를 보장합니다. 
• 
첫째, 차용인은 월 상환금이 지불되지 않을 경우 금융 회사가 주택을 매각하고 그 수익금으로 
대출 잔액을 상환하는 데 사용할 수 있음을 명시하는 법적 문서(모기지 증서)에 서명합니다. 
• 
둘째, 금융 회사는 차용인에게 집에 보험을 들도록 요구합니다. 예를 들어 집이 불타면 보험 
회사가 손실을 보상하고 보험 회사의 수표를 대출금 상환에 사용할 수 있도록 합니다. 보험료는 
통상 1년에 1회 금융회사에서 납부합니다. 대출자로부터 보험료를 받기 위해 금융 회사는 
대출자에게 매월 보험료 할부금을 지불하도록 요구합니다. 기본적으로 금융 회사에서 관리하는 
저축 계좌인 에스크로(escrow) 계좌에 할부금을 입금합니다. 연간 보험료 납부 기한이 되면 
에스크로 계좌에서 금액이 인출됩니다. 주택에 대한 부동산세도 같은 방식으로 취급됩니다. 즉, 
매월 할부금이 에스크로 계좌에 예치되고 연간 부동산세 납부가 그 계좌에서 이루어집니다. 
• 
셋째, 금융 회사는 대출자가 모기지 비용을 감당할 수 있는지 확인하기를 원합니다. 일반적으로 
총 월 지불액(P&I + 보험 + 부동산세)이 대출자의 총 소득의 28%를 초과하는 경우 대출자는 
모기지를 받을 수 없습니다. 
금융 회사는 월별 지불하는 것 외에도 차용인에게 돈을 빌려줄 때 보통 선지급금을 요구합니다. 
일반적으로 원금의 2%를 요구합니다.(이를 points라 합니다) 즉 $90,000 대출의 경우 $1800가 
됩니다. 
마지막으로 법적 비용 및 각종 세금과 같이 주택 구매와 관련된 기타 비용이 있습니다. 결과적으로 
$100,000 주택 구매 계약이 체결될 때(거래가 "Closing"될 때) Closing costs(법률 비용, 세금 등)에 
points를 더하면 쉽게 $7000에 달할 수 있습니다. 
 
 
 
 
 
 


===== PAGE 3 =====
More Information (The MSG Foundation Case Study)  
 
MSG 재단은 다음 조건이 만족될 때 주택 구입을 위해 100% 모기지를 부여(grants)합니다. 
• 
부부가 결혼한 지 최소 1년 이상 10년 미만인 경우 
• 
남편과 아내 모두 유급 고용 상태일때. 이 경우, 두 사람 모두 전년도 최소 48주 동안 
정규직으로 고용되었다는 증거를 제공해야 합니다. 
• 
주택 가격은 지난 12개월 동안 해당 지역의 주택 공시 중간 가격보다 낮은 경우 
• 
설정이 고정금리, 30년 모기지이고, 90% 모기지에 대한 할부금 합산이 총소득의 28%를 
초과하는 경우 이고/또는 (and/or) 주택 비용의 10%에 $7000를 더한 금액을 지불할 충분한 
저축이 없는 경우. (단, $7000는 Closing costs와 points를 포함한 추가 비용의 추정치) 
• 
재단이 주택을 구입하기에 충분한 자금을 가지고 있을 경우, 이에 대해서는 좀더 자세히 살펴 
볼 것이다. 
 
신청이 승인되면, 이후 30년 동안 부부가 매주 MSG 재단에 지불해야 하는 금액은 모기지 기간 
동안 절대 변하지 않는 고정 지불액과 에스크로 지불액을 합한 금액입니다(에스크로 지불액은 연간 
부동산세와 연간 주택 소유자 보험료를 합한 금액의 1/52입니다). 이 총액이 부부의 주당 총수입의 
28%보다 크면 MSG 재단에서 그 차액을 보조금 형태로 지불합니다. 결과적으로 모기지는 매주 
전액을 지불하지만 부부는 합산 총 소득의 28% 이상을 지불할 필요가 없습니다. 
부부는 매년 소득세 신고서 사본을 제출하여 MSG 재단이 전년도 소득에 대한 증거를 확보할 수 
있도록 해야 합니다. 또한 부부는 현재 총 소득의 증거로 급여 명세서 사본을 제출할 수 있습니다. 
따라서 부부가 모기지를 위해 지불해야 하는 금액은 주마다 다를 수 있습니다. 
 
MSG 재단은 다음 알고리즘을 사용하여 모기지 신청을 승인할 자금이 있는지 여부를 결정합니다. 
1. 
매주 초 투자에서 예상되는 연간 투자 소득을 계산하고 52로 나눈다. 
2. 
예상 연간 MSG Foundation 운영 비용을 52로 나눈다. 


===== PAGE 4 =====
3. 
해당 주의 총 예상 모기지 상환액을 계산 한다. 
4. 
해당 주의 총 예상 교부금(grants)을 계산한다. 
5. 
주의 시작에 사용 가능한 금액(The amount available)은 위 항목 1, 2, 3, 4 이다. 
6. 
주중에 주택 비용이 모기지 금액 이하이면 MSG 재단은 주택 구입에 필요한 자금이 있는 
것으로 간주한다. 그 주에 사용할 수 있는 모기지 금액은 해당 주택 비용만큼 줄어든다 
7. 
매주 말에 MSG 재단 투자 고문은 사용하지 않은 자금을 이용해 투자한다. 
파일럿 프로젝트의 비용을 가능한 한 낮게 유지하기 위해 개발자는 주간 자금 계산에 필요한 데이터 
항목만 소프트웨어 제품에 통합해야 한다는 지시를 받았습니다. 나머지는 MSG 재단이 운영의 모든 
측면을 전산화하기로 결정하면 나중에 추가할 수 있습니다. 따라서 세 가지 유형의 데이터, 즉 투자 
데이터, 운영 비용 데이터 및 모기지 데이터만 알 필요가 있습니다. 
투자관련 데이터: 
• 
아이템 번호(Item number) 
• 
아이템 이름(Item name) 
• 
연간 예상 수익(Estimated annual return): 새로운 정보가 들어오면 이 수치는 갱신 되며, 
보통 연간 4회의 갱신이 발생한다) 
• 
마지막 연간 예상 수익 갱신일(Date estimated annual return was last updated) 
 
운영비용 데이터: 
• 
연간 예상 운영 비용(Estimated annual operating expenses): 이 수치는 연간 4회 결정이 
이루어 진다. 
• 
마지막 연간 예상 수익 갱신일(Date estimated annual operating expenses were last 
updated) 
 
모기지 데이터: 
• 
계좌 번호(Account number). 
• 
모기지를 받은 고객 이름(Last name of mortgagees). 


===== PAGE 5 =====
• 
주택 구입 원가(Original purchase price of home). 
• 
모기지 생성일자(Date mortgage was issued). 
• 
주간 P&I 지불 금액(Weekly principal and interest payment). 
• 
현재 주간 총합 소득(Current combined gross weekly income). 
• 
마지막 주간 총합 소득 갱신일(Date combined gross weekly income was last updated). 
• 
연간 부동산 세금(Annual real-estate tax). 
• 
마지막 연근 부동산 세금 갱신일(Date annual real-estate tax was last updated). 
• 
주택 소유자의 연간 보험료(Annual homeowner’s insurance premium). 
• 
마지막 주택 소유자의 연간 보험료 갱신일(Date annual homeowner’s insurance 
premium was last updated). 
 
MSG 관리자와의 추가 논의 과정에서 세 가지 유형의 보고서의 필요성이 나타났습니다. 
• 
주간 자금 결산서(The results of the funds computation for the week). 
• 
모든 투자 목록(A listing of all investments) – 요청이 있으면 출력. 
• 
모든 모기지 목록(A listing of all mortgages) - 요청이 있으면 출력. 
 
 
